<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OdinLabs IO: Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/Login-Form-Dark.css" />
</head>

<body>
    <div class="login-dark">
        <div class="login-provider">
            <h2 class="sr-only">Login or Signup</h2>
            <!--div class="illustration"><i class="icon ion-ios-locked-outline"></i></div-->
            <div class="form-group"><a href="/login/facebook" class="btn btn-outline-primary btn-block"><span class="fa fa-facebook"></span> Facebook</a></div>
            <div class="form-group"><a href="/login/google" class="btn btn-outline-danger btn-block"><span class="fa fa-google-plus"></span> Google</a></div>
            <div class="strike">
                <span>Or</span>
            </div>
            <a href="#" class="link">Return</a>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>